@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url(fonts/CURSEDTIMERULIL-AZNM.TTF);
}

body {
    margin: 0;
}

.container {
    font-family: 'Cursed Timer ULiL';
    display: flex;
    justify-content: space-evenly; /* Adjusted spacing */
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    width: 575px;
    height: 385px;
    margin: 20px auto;
    background-color: #003049;
}

#home-side-container, #away-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: fit-content;
    margin-bottom: 70px;
}

h3 {
    font-family: Verdana;
    text-align: center;
    color: #fcbf49;
    font-size: 40px;
    margin: 0;
}

.score-home,
.score-away {
    margin: 10px;
    background-color: #01283d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 2px #fcbf49;
    width: 155px;
    height: 120px;
}

#home-points-text, #away-points-text {
    font-family: 'Cursed Timer ULiL';
    font-size: 80px;
    color: #d62828;
    width: 117px;
    height: 120px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

#center-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 385px;
}

#shot-clock-container {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin: 50px;
}

#period-container {
    position: static;
    width: 85px;
    height: 85px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

#period-number {
    font-family: 'Cursed Timer ULiL';
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 25px;
    color: #f77f00;
}

#shot-clock, #period-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 20px;
    color: #fcbf49;
}

#shot-clock-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 50px;
    color: #f77f00;
}

.add-points-btns {
    width: 155px;
    height: 45px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #eae2b7;
    color: #fcbf49;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    margin: 0;
    cursor: pointer;
}

.shot-clock-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    box-shadow: 2px 2px 2px 2px #775a22, -2px -2px 2px #775a22;
}

p {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eae2b7;
    margin: 0;
}